html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif !important;
}

canvas {
    display: block;
    /* width: 100%; */
    /* height: 100%; */
    position: absolute;
    /* bottom: 5%; */
}

.icon {
    cursor: pointer;
}

.header-buttons {
    position: absolute;
    right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header {
    position: absolute;
    top: 3%;
    /* left: 3%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

.history-selector {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.history-selector div span {
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 600 !important;
}

/* .history-selector div {
    padding: 4px 8px;
    border-radius: 10px;
} */

.high-multi {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 173, 54);
    border-radius: 10px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 54px;
    min-width: 40px;
    padding: 4px 8px;
    cursor: pointer;
    width: fit-content;

}

.header-buttons-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.low-multi span {
    color: white;
}

.low-multi {
    display: flex;
    flex-direction: column;
    background-color: rgb(127, 119, 158);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    max-width: 54px;
    min-width: 40px;
    padding: 4px 8px;
    cursor: pointer;
    width: fit-content;

}

.footer {
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* padding: 0 10px; */
}

.players-count,
.players-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 2.5vw;
}

.players-icon span,
.count {
    font-size: 2vw;
    color: #fff;

}

.players-icon img {
    width: 3vw;
}

.bets {
    margin-right: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.total-bets {
    color: rgb(127, 119, 158);
    font-weight: 700;
    font-size: 10px;
}

.bets-count {
    font-size: 10px;
    color: rgb(15, 201, 67);
}

.countDown {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown-status span {
    margin: 0px;
    font-size: 1.14286rem;
    line-height: 1.5;
    font-style: normal;
    color: #0aad36;
    font-weight: 600 !important;
    font-family: "Nunito Sans", sans-serif !important;
}

.nextRoundCount span {
    margin: 0px;
    font-size: 1.14286rem;
    line-height: 1.5;
    font-style: normal;
    color: #0c70db;
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 700 !important;
}


.history-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 4.5vw;
    gap: 10px;
}

.current-round {
    background: rgb(12, 112, 219);
    width: 55px;
    text-align: center;
    border-radius: 10px;
    /* padding: 4px 8px; */
    cursor: pointer;

}

.current-round span {
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 600 !important;
    color: white;
}

#counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 999;
}

#countDown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) !important;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countDownStatus {
    margin: 0px;
    font-size: 2.5vw;
    line-height: 1.5;
    font-style: normal;
    color: rgb(10, 173, 54);
    font-weight: 600 !important;
    font-family: "Nunito Sans", sans-serif !important;
}

#countDownSpan {
    margin: 0px;
    font-size: 2.3vw;

    line-height: 1.5;
    font-style: normal;
    color: rgb(12, 112, 219);
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 700 !important;
}

#counter span {
    color: white;
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 800 !important;
    font-size: 100px;
}


@media only screen and (max-width: 600px) {
    .countDown {
        top: 65%;
    }

    #counter span {
        font-size: 50px;
    }

    #nicknameSpan {
        max-width: 70px !important;
    }
}

.hide {
    display: none !important;
}



.icon-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#gamePlay {
    position: relative;
}


.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
}




.player-details {
    display: flex;
    width: 100%;
    flex-direction: row;

    justify-content: space-between;
}

#burgerMenuOpen {
    position: absolute;
    top: 100%;
    width: 94%;
    border-radius: 0 0 8px 8px;
    z-index: 999;
    cursor: pointer;
    border-top: none;
    border: 1px solid #3C3553;
    border-top: none;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 7px;

}

.burger-icon {
    padding: 4px 8px;
    border: 1px solid #3C3553;
    border-radius: 8px;
    display: flex;
}

.burger-icon-open {
    padding: 4px 8px;
    border: 1px solid #3C3553;
    background: #2A243A;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    display: flex;
}

.burger-menu-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;

}


#playerBalance {
    margin-left: 4.5vw;
}

#clock {
    margin-right: 4.5vw;
}



.details-item {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;

    height: 100%;
}

.details-item span {
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 600 !important;
    color: #A39EB4;
}

.nickname {
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#nicknameSpan {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
    line-height: 120%;
}


.branding {
    margin-left: 4vw;
    padding-top: 10px;
}


#nicknameSpan {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
}


.header .players {
    padding-left: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header .totalBets {
    padding-left: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header .players img {
    width: 17px !important;
    height: 14px;
}

.header .players span {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}


.header .totalBets span {
    margin: 0px;
    font-weight: 600;
    line-height: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    color: #fff;
    font-size: 12px;
}


#burgerMenuOpen {
    background: #2A243A;
}